@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

:root{
    --light-grey: 248, 248, 251;
    --medium-grey: 126, 136, 195;
    --purple: 124, 93, 250;
}

* {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

html{
    max-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

#root {
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
 
}



